<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a *ngFor="let c of categories$ | async"
         class="list-group-item list-group-item-action"
         routerLink= "/"
         [queryParams]= "{ category: c.$key }"
         [class.active]="category === c.$key"
      >{{c.$key}}</a>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let p of filteredProduct; let i = index">
        <div class="card col" style="width: 18rem;">
            <img [src]="p.imageUrl" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <p class="card-text">{{ p.price | currency:'USD':true }}</p>
            </div>
          </div>
        <div class="w-100" *ngIf="(i+1)%2 === 0"></div>
      </ng-container>
    </div>
  </div>
</div>